body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}




.page--home{
    margin: 0 20em;
}
.page_header{
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.carosel_picture{
    align-items: center;
}


.page_header_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.page_header_logo h1{
    font-size: 1em;
}
.page_header_logo img{
    width: 1em;
    height: 0.5em;
}

.comp_name{
    font-size: 25px;
}

.carousel_items{
    list-style-type: none;
}
.page-links_items{
    display: flex;
    flex-direction: row;
}

.grid_item{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 30px;
}

.grid_item img{
     height: 70px;
     width: 70px;
}

.grid_containers{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.grid_containers p{
 font-size: 14px;
}

.grid_image_post_containers{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 10px;
}

.grid_image_post_containers img{
    width: 20em;
    height: 20em;
}

.comp_description{
    padding-top: 0.938em;
}

.comp_description_header {
    font-size: 25px;
    padding-top: 30px;
}

.image_post_header{
    font-size: 25px;
    padding-top: 50px;
}

.multiple_image_header{
    font-size: 25px;
    padding-top: 40px;
}

.comp_description_descriptio{
    font-size: 0.938em;
}

.image_post_description{
    font-size: 0.938em;
}

.multiple_image_description{
    font-size: 0.938em;
}

.grid_multiple_image_containers{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.grid_multiple_image_containers img{
    width: 20em;
    height: 20em;
}

.sample_menu_header{
    font-size: 25px;
    padding-top: 40px;
}

.accordion{
    padding-top: 10px;
    width: 687px;
}

.grid_sponsor_logo_parent_containers{
object-fit: contain;
}

.grid_sponsor_logo_child_containers{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap:30px;
    padding-top: 50px;
}

.grid_sponsor_logo_item{
width: 100%;
height: 100%;
}
.grid_sponsor_logo_item img{
    width: 100%;
    height: 100%;
    }