:root{
    --font-: 'Open Sans';
    --font-colour: white;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--font-);
}

.carousel_items {
   position: absolute;
   height: 50vh;
}

.page--home{
    margin: 0 20em;
}
.page_header{
    display: flex;
    flex-direction: row;
}

.comp_name_header{
  display: flex;
  flex-direction: row;
  gap:0.5em;
}


.carosel_picture{
    align-items: center;
}


.page_header_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.page_header_logo h1{
    font-size: 2em;
}
.page_header_logo img{
    width: 3em;
    height: 1.5em;
}

.comp_name{
    font-size: 1.5em;
    line-height: 0.05em;
    padding-top: 50px;
}

.carousel_items{
    list-style-type: none;
}
.page-links_items{
    display: flex;
    flex-direction: row;
}

.grid_item{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 2em;
}

.grid_item img{
     height: 5em;
     width: 5em;
}

.grid_containers{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    padding-left: 14em;
    padding-right: 14em;
}

.grid_containers p{
 font-size: 0.3em;
}

.grid_containers h3{
    font-size: 0.5em;
}

.grid_image_post_containers{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 10px;
    gap: 30px;
}

.grid_image_post_containers img{
    width: 18em;
    height: 100%;
}

.comp_description{
    padding-top: 0.938em;
}

.comp_description_header {
    font-size: 25px;
    padding-top: 30px;
}

.comp_name_header_colour{
  color: rgb(0, 179, 255);
}

.image_post_header{
    font-size: 25px;
    padding-top: 50px;
}

.multiple_image_header{
    font-size: 25px;
    padding-top: 40px;
}

.comp_description_descriptio{
    font-size: 0.938em;
}

.image_post_description{
    font-size: 0.938em;
}

.multiple_image_description{
    font-size: 0.938em;
}

.grid_multiple_image_containers{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 25px;
}

.grid_multiple_image_containers img{
        width: 18em;
        height: 100%;
}

.thingsabove{
  width: 80em;
  height: 100%;
  align-items: center;
}

.sample_menu_header{
    font-size: 25px;
    padding-top: 40px;
}

.accordion img{
    padding-top: 10px;
    width: 20em;
    height: 100%;
}

.grid_sponsor_logo_parent_containers{
object-fit: contain;
padding-bottom: 100px;
}

.grid_sponsor_logo_child_containers{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap:30px;
    padding-top: 50px;
}

.grid_sponsor_logo_item{
width: 100%;
height: 100%;
}
.grid_sponsor_logo_item img{
    width: 14em;
    height: 100%;
    }


.peewee_herman img{
    width:50px;
    height: 50px;
    padding-top: 30px;
}

.peewee_herman{
    display: flex;
    flex-direction: row;
    text-align: left;
    gap:10px;
}


footer{
    padding-top: 30px;
    background-color: rgb(34, 34, 72);
    color: var(--font-colour);
    width:80em;
    height: 40em;
}

.footer_info_containers h2{
 font-size: 1.3em;
}

.footer_info_containers p{
    font-size: 0.5em;
    line-height: 2.5em;
}



.footer_info_aboutus_header{
border-bottom: 3px solid rgb(56, 197, 56);
}

.footer_info_photos_header{
border-bottom: 3px solid yellow;
}

.footer_comp_tweets_header{
border-bottom: 3px solid rgb(245, 88, 88);
}

.footer_info_newsletter_header{
border-bottom: 3px solid rgb(88, 214, 245);
}

.footer_info_containers{
    display: grid;
    grid-template-columns: 18em 18em 18em 18em;
    padding-top: 120px;
    gap:40px;
    text-align: left;
    width: 80em;
}

.social_links_icons{
 display: flex;
 flex-direction: row;
 gap:3px;
}

.social_links_items{
   width:30px;
   height: 30px;
}

.grid_footer_minion_pics img{
    width:5.5em;
    height: 100%;
}

.grid_footer_minion_pics{
    display: grid;
    grid-template-columns: 5.5em 5.5em 5.5em ;
    grid-template-rows: auto auto;
    gap:0.8em;
}

.footer_comp_tweets img{
   width: 40px;
   height: 40px;
   padding-top: 10px;
}

.footer_comp_tweets{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.footer_enter_email{
    padding-left: 20px;
    width: 150px;
    font-size: 10px;
    background-color: rgb(227, 76, 76);
}

