body{
    display: flex;
    flex-direction: column;
}
.page--home{
    margin: 0 20em;
}
.page_header{
    display: flex;
    flex-direction: row;
}
.pag


.page-links_items{
    display: flex;
    flex-direction: row;
}

.grid_item{
    display: flex;
    flex-direction: row;
    align-content: center;
}


.grid_containers{
    display: grid;
    height:100px;
    align-content: space-between;
    gap:10px;
}

.grid_image_post_containers img{
    width: 10em;
    height: 10em;
}